div {
    border-color: #698733;
    border-radius: 1em;
    border-style: solid;
    border-width: 0.5em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 200px;
    width: 500px;      
}

img {
    height: 70%;
}